@font-face {
    font-family: "Archangelsk";
    src: url("./assets/fonts/ofont.ru_Archangelsk.ttf");
}

body {
    margin: 0 auto;
    font-family: "Roboto";
}

.title {
    font-family: "Archangelsk";
    font-size: 62px;
    font-weight: 400;
}

.header {
    background: url("./assets/image/cyberpunk.png");
    height: 100vh;
    position: relative;
    background-size: 100% 100%;
}

.container {
    max-width: 1352px;
    padding: 0 36px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

.header__info {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo:hover {
    cursor: pointer;
}

.info__social {
    display: flex;
    gap: 40px;
}

.header__platform {
    background-color: #F8F200;
    width: 484px;
    height: 229px;
    clip-path: polygon(10% 0, 100% 0, 100% 83%, 90% 100%, 0 100%, 0 17%);
    position: absolute;
    right: 36px;
    bottom: 0;
    padding: 70px;
}

.platform__title {
    margin: 0 0 25px;
}

.platform__button {
    padding: 19px 50px;
    background-color: #000;
    color: #F8F200;
    font-size: 24px;
    font-weight: 700;
}

.button:hover {
    cursor: pointer;
}

.button {
    border: none;
}

.text {
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
}

.text--white {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
}

.section-night-city__text {
    color: #777;
}

.text--blue {
    color: #52BEDC;
    font-weight: 700;
}

.section-night-city__title {
    margin: 70px 0 25px;
}

.section-night-city__images {
    display: flex;
    gap: 32px;
    margin: 70px 0;
}

.section-night-city__images--left {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.section-night-city__images--right {
    width: auto
}

.spray { 
    width: 100%;
    height: 70px;
}

.promotion {
    background-color: #000;
}

.promotion__logo { 
    width: 132px;
    height: 132px;
    margin-top: 15px;
}

.promotion__headline {
    color: #FFF;
    display: flex;
    flex-direction: row;
}

.headline__title {
    padding-top: 45px;
    padding-left: 32px;
}

.description__text {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
}

.promotion__console {
    display: flex;
}

.promotion__img {
    width: 100%;
    height: 100%;
}    


.promotion__form {
    margin: 70px 0;
    width: 460px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.button--yellow {
    margin-bottom: 15px;
    background-color: #F8F200;
    width: 192px;
    height: 59px;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    border: 0;
}

.input {
    border: none;
    border-bottom: 1px solid #777;
    height: 35px;
    width: 450px;
    background-color: transparent;
    font-size: 18px;
    font-weight: 300;
    color: #FFF;
    padding-left: 10px;
}

.element--hidden {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
}

.screenshot__label {
    display: block;
    width: 460px;
    height: 120px;
    border: 1px dashed #777;
    cursor: pointer;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7px;
}

.screenshot__label:active {
    border: 2px solid #fff;
}

.label--first-line {
    text-decoration-line: underline;
    font-size: 18px;
    font-weight: 300;
} 

.label--last-line {
    font-size: 12px;
    font-weight: 300;
}

.checkbox__label {
    color: #fff;
    font-size: 12px;
    font-weight: 300;
}

.checkbox__input + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.checkbox__input + label::before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #777;
    margin-right: 10px;
    cursor: pointer;
}

.checkbox__input:checked + label::before {
    background: url(./assets/icons/checkmark.svg) no-repeat center;
}

.monitor {
    background-color: #F8F200;
}

.monitor__container {
    display: flex;
    gap: 36px;
}

.monitor__logo {
    margin-top: 70px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
} 

.monitor__paragraph {
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    margin: 25px 0;
}

.monitor__title {
    margin-bottom: 0;
}

.list__item {
    font-size: 18px;
    font-weight: 400;
}

.list__item--stars {
    margin: 20px 0;
    list-style-image: url(./assets/icons/stars.svg) 
}

.list__item--palette {
    list-style-image: url(./assets/icons/palette.svg)
}

.list__item--files {
    list-style-image: url(./assets/icons/files.svg)
}

.monitor__button {
    padding: 15px 50px;
    background-color: #000;
    color: #F8F200;
    font-size: 18px;
    font-weight: 700;
    margin: 40px 0 80px;
}

.buy-the-game {
    display: flex;
}

.buy-the-game__left-image {
    max-width: 100%;
}

.left-image--diskcyberpunk {
    width: 944px;
    height: 100%;
    max-width: 100%;
}

.buy-the-game__right {
    max-width: 100%;
    background-color: #000;
    width: 976px;
}

.info__headline {
    color: #fff;
    width: 624px;
    margin-bottom: 25px;
}

.right__info {
    margin: 70px 0 0 32px;
}

.info__list {
    color: #fff;
}

.list__set--disk {
    list-style-image: url(./assets/icons/disk.svg);
}

.list__set--case {
    list-style-image: url(./assets/icons/case.svg);
}

.list__set--directory {
    list-style-image: url(./assets/icons/directory.svg);
}

.info__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 32px;
    padding-bottom: 60px;
}

.info__platform, .info__set {
    font-size: 24px;
    font-weight: 700;
}

.logo--cursor:hover {
    cursor: pointer;
}

.console-logo__top {
    margin: 24px 0 50px;
}

.top__pc-logo, .bottom__stadia-logo {
    margin-right: 80px;
}

.info__console-logo {
    padding-bottom: 65px;
}