@font-face {
    font-family: "Archangelsk";
    src: url("./assets/fonts/ofont.ru_Archangelsk.ttf");
}

body {
    margin: 0 auto;
}

.title {
    font-family: "Archangelsk";
    font-size: 62px;
    font-weight: 400;
}

.header {
    background: url("./assets/image/cyberpunk.png");
    width: 100vw;
    height: 100vh;
    position: relative;
    background-size: 100% 100%;
}

.container {
    padding: 0 240px;
    position: relative;
    width: calc(100vw - 480px);
    height: 100vh;
}

.header__info {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo:hover {
    cursor: pointer;
}

.info__social {
    display: flex;
    gap: 40px;
}

.header__platform {
    background-color: #F8F200;
    width: 484px;
    height: 229px;
    clip-path: polygon(10% 0, 100% 0, 100% 83%, 90% 100%, 0 100%, 0 17%);
    position: absolute;
    right: 240px;
    bottom: 0;
    padding: 70px;
}

.platform__title {
    margin: 0 0 25px;
}

.platform__button {
    padding: 19px 50px;
    background-color: #000;
    color: #F8F200;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 700;
}

.button:hover {
    cursor: pointer;
}

.text {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
}

.section-night-city__text {
    color: #777;

}

.text--blue {
    color: #52BEDC;
    font-weight: 700;
}

.section-night-city__title {
    margin: 70px 0 25px;
}

.section-night-city__images {
    display: flex;
    gap: 32px;
    margin-top: 70px;
}

.section-night-city__images--left {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
